{% extends 'posts/base.html' %}

{% block body %}
<!--음식사진 공간-->
<div class="d-flex justify-content-around">
    <img src="http://pds23.egloos.com/pds/201209/13/12/c0055612_505177a2852eb.jpg" alt="" width="300" height="300">
    <img src="http://pds23.egloos.com/pds/201209/13/12/c0055612_505177a2852eb.jpg" alt="" width="300" height="300">
    <img src="http://pds23.egloos.com/pds/201209/13/12/c0055612_505177a2852eb.jpg" alt="" width="300" height="300">
</div>

<!--식당정보-->
<div class="d-flex flex-direction-column">
    <h2 class="p-5">햄버거 맛집</h2>
    <h4 class="p-5" style="color=red">평점 3.8</h4>
    <h4 class="p-5" style="color=red">예상 4.0</h4>
    <div>{% include 'posts/star.html' %}</div>
</div>
    <div>
        <table class="info" >
                      <caption>레스토랑 상세 정보</caption>

                      <tbody>
                            <tr class="only-desktop">
                              <th>주소</th>
                              <td>경기도 성남시 분당구 서현동 247-4</td>
                            </tr>

                            <tr class="only-desktop">
                              <th>전화번호</th>
                              <td>070-8193-2821</td>
                            </tr>

                        <tr>
                          <th>음식 종류</th>
                          <td>
                            <span>돈부리 / 일본 카레 / 벤토</span>
                          </td>
                        </tr>

                          <tr>
                            <th>가격대</th>
                            <td>만원 미만</td>
                          </tr>

                          <tr>
                            <th>주차</th>
                            <td>주차공간없음 </td>
                          </tr>

                          <tr>
                            <th style="vertical-align:top;">영업시간</th>
                            <td>월-금: 11:30 - 20:20<br> 토: 11:30 - 14:00</td>
                          </tr>

                          <tr>
                            <th style="vertical-align:top;">쉬는시간</th>
                            <td>14:00 - 17:00</td>
                          </tr>


                          <tr>
                            <th>휴일</th>
                            <td>일</td>
                          </tr>



                        <tr>
                          <th>
                            메뉴
                          </th>

                          <td>
                              <div class="list-thumb-photos size-small">
                                  <button class="btn-thumb" onclick="common_ga('PG_RESTAURANT', 'CLICK_MENU')" ng-click="open_menu_picture(0)">
                                    <img class="center-croping lazy" alt="라하노카레 메뉴 사진 - 경기도 성남시 분당구 서현동 247-4" data-original="https://mp-seoul-image-production-s3.mangoplate.com/186248/313740_1538712056584_42326014_164105941188861_5045196160002563238_n.jpg?fit=around|63:63&amp;crop=63:63;*,*&amp;output-format=jpg&amp;output-quality=80" data-error="https://mp-seoul-image-production-s3.mangoplate.com/web/resources/kssf5eveeva_xlmy.jpg?fit=around|*:*&amp;crop=*:*;*,*&amp;output-format=jpg&amp;output-quality=80" src="https://mp-seoul-image-production-s3.mangoplate.com/186248/313740_1538712056584_42326014_164105941188861_5045196160002563238_n.jpg?fit=around|63:63&amp;crop=63:63;*,*&amp;output-format=jpg&amp;output-quality=80" style="display: block;">

                                  </button>
                                  <button class="btn-thumb" onclick="common_ga('PG_RESTAURANT', 'CLICK_MENU')" ng-click="open_menu_picture(1)">
                                    <img class="center-croping lazy" alt="라하노카레 메뉴 사진 - 경기도 성남시 분당구 서현동 247-4" data-original="https://mp-seoul-image-production-s3.mangoplate.com/598583_1524717959664499.jpg?fit=around|63:63&amp;crop=63:63;*,*&amp;output-format=jpg&amp;output-quality=80" data-error="https://mp-seoul-image-production-s3.mangoplate.com/web/resources/kssf5eveeva_xlmy.jpg?fit=around|*:*&amp;crop=*:*;*,*&amp;output-format=jpg&amp;output-quality=80" src="https://mp-seoul-image-production-s3.mangoplate.com/598583_1524717959664499.jpg?fit=around|63:63&amp;crop=63:63;*,*&amp;output-format=jpg&amp;output-quality=80" style="display: block;">

                                  </button>
                                  <button class="btn-thumb" onclick="common_ga('PG_RESTAURANT', 'CLICK_MENU')" ng-click="open_menu_picture(2)">
                                    <img class="center-croping lazy" alt="라하노카레 메뉴 사진 - 경기도 성남시 분당구 서현동 247-4" data-original="https://mp-seoul-image-production-s3.mangoplate.com/186248/313740_1516578734498_157835?fit=around|63:63&amp;crop=63:63;*,*&amp;output-format=jpg&amp;output-quality=80" data-error="https://mp-seoul-image-production-s3.mangoplate.com/web/resources/kssf5eveeva_xlmy.jpg?fit=around|*:*&amp;crop=*:*;*,*&amp;output-format=jpg&amp;output-quality=80" src="https://mp-seoul-image-production-s3.mangoplate.com/186248/313740_1516578734498_157835?fit=around|63:63&amp;crop=63:63;*,*&amp;output-format=jpg&amp;output-quality=80" style="display: block;">

                                  </button>
                              </div>
                          </td>
                        </tr>
                      </tbody>
        </table>
        <div id="map" style="width:500px;height:400px;"></div>
        <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=0d44677d1bed65cd83d14bc727df978a"></script>
        <script>
            var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                mapOption = {
                    center: new daum.maps.LatLng(37.56499, 126.97594), // 지도의 중심좌표
                    level: 3, // 지도의 확대 레벨
                    mapTypeId : daum.maps.MapTypeId.ROADMAP // 지도종류
                };

            // 지도를 생성한다
            var map = new daum.maps.Map(mapContainer, mapOption);

        </script>
    </div>
{% endblock %}